
* {
    margin: 0;
    padding: 0px;
    border: 2px;
    box-sizing: border-box;
  }
  .bar {
    z-index: -1;

    height: 120vh;
    width: 110%;
    font-family: "Montserrat", sans-serif;
    color: $primarycolor;
    background-image: linear-gradient($background, $background),
      url("/PreEntrega2-Werner/static/background.png");
    background-position: center;
    background-size: cover;
    overflow: scroll;
  }