
/*Navbar logo*/
.logo img {
    display: flex;
    height: 80px;
    width: 100px;
    margin-top: -95%;
    margin-left: 15%;
    animation: movedown 1s linear 1;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    visibility: hidden;
  }
  @keyframes movedown {
    0% {
      transform: translateY(-100px);
      visibility: visible;
    }
  
    100% {
      transform: translateY(0);
      visibility: visible;
    }
  }
  

